* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: Monospace;
}

body {
  background-image: url("../assets/image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  width: 550px;
  height: 100%;
}

.player {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  box-shadow: 10px 10px 60px 10px rgba(0, 255, 255, 0.63) inset;
  border-radius: 5px;
  position: fixed;
  width: 550px;
  background-image: url("../assets/image/background.jpg");
  background-position: center center;
  background-size: cover;
  z-index: 5;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container label {
  width: 100%;
  font-weight: 700;
  color: white;
}

.container .title {
  width: 80%;
  font-size: 32px;
  color: rgb(255, 0, 119);
  text-align: center;
  height: 90px;
  padding-bottom: 0;
}

.CD-music {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CD-music .CD {
  width: 300px;
  height: 300px;
  border-radius: 999px;
}

.CD-music span {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background-color: black;
  top: 45%;
  left: 45%;
  border: 5px solid rgb(16, 218, 218);
  background-color: whitesmoke;
}

.controller {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.btn-play {
  background-color: rgba(255, 0, 119, 0.918);
  border-radius: 999px;
}

.btn-play:hover {
  transform: scale(0.9);
  box-shadow: 5px 5px 30px rgba(255, 0, 119, 0.918);
}

.play-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 70%;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 5px;
  position: relative;
  box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.753) inset;
  border-radius: 3px;
  z-index: 10;
}

.scroll {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: white;
}

.pointer {
  position: absolute;
  padding: 0;
  width: 15px;
  height: 9px;
  top: -2px;
  left: 0;
  background-color: rgba(255, 0, 119, 0.918);
  border-radius: 5px;
}

/* PlayList */

.playlist {
  display: flex;
  justify-content: center;
}

.list {
  width: 100%;
  list-style-type: none;
  margin-top: 590px;
}

.list-item {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 2px 2px 15px 5px rgba(0, 255, 255, 0.63) inset;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.list-item:hover {
  box-shadow: 8px 8px 40px rgba(0, 255, 255, 0.795);
  border: 1px solid rgba(0, 255, 255, 0.795);
  transform: scale(1.03);
}

.item-img {
  width: 70px;
  height: 70px;
  border-radius: 999px;
}

.item-name {
  flex: 1;
  padding: 0;
}

.item-name p {
  padding-top: 0;
  padding-bottom: 2px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.item-name span {
  padding-top: 0px;
  color: rgba(255, 255, 255, 0.685);
  font-size: 14px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Class cho js thêm vào */

.active {
  color: rgba(255, 0, 119, 0.918) !important;
}

.active-song {
  box-shadow: 16px 16px 60px rgba(0, 255, 255, 0.911) inset;
}

.active-song-text {
  color: rgba(255, 0, 119, 0.918) !important;
}
